@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stylizacja paska przewijania */
::-webkit-scrollbar {
    width: 8px; /* Szerokość paska */
    height: 8px; /* Wysokość paska (dla przewijania poziomego) */
  }
  
  ::-webkit-scrollbar-track {
    background: #f0f0f0; /* Kolor tła paska przewijania */
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #4a90e2, #6c63ff); /* Kolor uchwytu paska z gradientem */
    border-radius: 10px; /* Zaokrąglenie uchwytu */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #3b82f6, #5b5bf7); /* Kolor uchwytu przy najechaniu */
  }
  
  /* Stylizacja dla przeglądarek Firefox */
  * {
    scrollbar-width: thin; /* Cieńszy pasek przewijania */
    scrollbar-color: #4a90e2 #f0f0f0; /* Kolory: uchwyt i tło */
  }
  